<div class="card-grid">
    {{#each @notes as |note|}}
        <Notes::Card
            @note={{note}}
            @tags={{@tags}}
            @onDelete={{@onNoteDelete}}
            @onNoteUpdate={{@onNoteUpdate}}
            @onTagCreate={{@onTagCreate}}
            @collection={{@collection}}
        />
    {{/each}}
</div>
