<div class="list-pane {{unless this.media.isDesktop "full-width"}}">
    {{#each @notes as |note|}}
        <Link @route={{this.editRoute}} @models={{if this.collection (array note.id this.collection.id) (array note.id)}} as |link|>
            <div class="list-item-container {{if note.isNew "new"}} {{if link.isActive "active"}}" {{on "click" link.transitionTo}}>
                <div class="list-item">
                    <div class="pell-content">
                        {{{note.content}}}
                    </div>
                    <Utils::Timestamp
                            @date={{note.modifiedDate}}
                            @format="MMM DD YYYY"
                            @enableDiff=true
                            @diffPrecision="days"
                            @diffLimit=7
                    />
                </div>
            </div>
        </Link>
    {{/each}}
</div>
