<ModalDialog
    @containerClass={{this.modal.class}}
    @onClose={{@onClose}}
    @translucentOverlay={{true}}
    @tetherTarget={{this.modal.target}}
    @targetAttachment={{this.modal.attachment}}
    @targetOffset={{this.modal.offset}}
    @attachment={{this.modal.attachment}}
>
    <div class="modal-header">
        <h1>{{@header}}</h1>
        <FaIcon class="close-icon" @icon="times" {{on "click" @onClose}} />
    </div>
    <div class="modal-body">
        {{yield @item}}
    </div>
    <div class="modal-footer">
        <div class="button-container">
            {{!-- TODO Make button color a configurable property on the component --}}
            <button type="button" class="button text" {{on "click" @onClose}}>Cancel</button>
            <button type="button" class="button" {{on "click" @onConfirm}}>{{@buttonLabel}}</button>
        </div>
    </div>
</ModalDialog>