<Fullscreenmodal>
    <div class="modal-header">
        <button type="button" class="button text no-margin" {{on "click" @onClose}}><FaIcon @icon="arrow-left" /></button>
        <h1 class="align-center is-regular">
            {{@title}}
            <Utils::Timestamp
                @date={{@note.modifiedDate}}
                @format="MMM DD YYYY"
                @enableDiff={{true}}
                @diffPrecision="days"
                @diffLimit={{7}}
                @prefix="Last updated"
            />
        </h1>
        <div class="modal-header-actions">
            <button type="button" class="button text no-margin" {{on "click" this.onDeleteOpen}}><FaIcon @icon="trash" /></button>
            <button type="button" class="button text has-margin-left" {{on "click" this.onTagSelectorOpen}}><FaIcon @icon="tag" /></button>
        </div>
    </div>
    <div class="modal-body">
        <Utils::TextEditor @content={{@note.content}} @onChange={{this.updatedNote}} />
    </div>
</Fullscreenmodal>

{{#if this.isSelectingTags}}
    <FullscreenTagSelector
        @options={{this.tagsWithoutCollectionTags}}
        @selected={{@note.tags}}
        @collectionTags={{@collectionTags}}
        @onSelect={{this.selectTag}}
        @searchEnabled={{true}}
        @createEnabled={{true}}
        @onCreate={{this.createTag}}
        @onClose={{this.onTagSelectorClose}}
    />
{{/if}}

{{#if this.isConfirmingDelete}}
    <ConfirmModal
            @class="large"
            @item={{this.noteForDeletion}}
            @header="Delete Collection"
            @buttonLabel="Delete"
            @onClose={{fn this.onDeleteClose false}}
            @onConfirm={{fn this.onDeleteClose true}}
    >
        Are you sure you want to delete this note?
    </ConfirmModal>
{{/if}}