<div class="pane-editor">
    <Utils::TextEditor @content={{@note.content}} @onChange={{this.updatedNote}} />
    <Notes::Footer
        @note={{@note}}
        @tags={{@tags}}
        @collectionTags={{@collectionTags}}
        @onTagSelect={{this.selectTag}}
        @onTagCreate={{this.createTag}}
        @onNoteDelete={{this.onDeleteOpen}}
        @onTagRemove={{this.removeTagFromNote}}
    />
</div>

{{#if this.isConfirmingDelete}}
    <ConfirmModal
            @class="small"
            @item={{this.noteForDeletion}}
            @header="Delete Note"
            @buttonLabel="Delete"
            @onClose={{fn this.onDeleteClose false}}
            @onConfirm={{fn this.onDeleteClose true}}
    >
        Are you sure you want to delete this note?
    </ConfirmModal>
{{/if}}
