<Select::DropdownSelect
    @options={{this.sortOptions}}
    @selected={{this.selectedSortOption}}
    @onSelect={{this.selectSortOption}}
    @searchEnabled={{false}}
    @closeOnSelect={{true}}
    @matchTriggerWidth={{false}}
    @triggerClass="no-margin"
    @dropdownClass={{"has-top-border"}}
    @displayProperty="name"
    @stopPropagation={{true}}
    @optionClass="large"
>
    <span><FaIcon @icon={{this.selectedSortOption.icon}} /></span>
    <span class="has-margin-left">{{this.selectedSortOption.name}}</span>
</Select::DropdownSelect>
