<div class="button-group">
    <Select::DropdownSelect
            @options={{this.sortOrderOptions}}
            @selected={{this.selectedSortOrder}}
            @onSelect={{this.selectSortOrder}}
            @closeOnSelect={{true}}
            @searchEnabled={{false}}
            @matchTriggerWidth={{false}}
            @triggerClass="no-margin"
            @dropdownClass={{"has-top-border"}}
            @displayProperty="name"
            @stopPropagation={{true}}
            @optionClass="large"
    >
        <span><FaIcon @icon={{this.selectedSortOrder.icon}} /></span>
    </Select::DropdownSelect>
    <Select::DropdownSelect
        @options={{@sortPropertyOptions}}
        @selected={{@selectedSortProperty}}
        @onSelect={{@onSelectSortProperty}}
        @searchEnabled={{false}}
        @closeOnSelect={{true}}
        @matchTriggerWidth={{false}}
        @triggerClass="no-margin"
        @dropdownClass={{"has-top-border"}}
        @displayProperty="name"
        @stopPropagation={{true}}
        @optionClass="large"
    >
        <span>{{@selectedSortProperty.name}}</span>
    </Select::DropdownSelect>
</div>
