<div class="select-container">
    {{#if @searchEnabled}}
        <div class="select-search-container">
            <FaIcon @icon="search" />
            <Input aria-label="Search" @type="text" @value={{this.searchText}} placeholder={{@searchPlaceholder}} />
            <button type="button" class="button text {{unless this.searchText.length "is-hidden"}}" {{on "click" this.onClear}}>
                <FaIcon @icon="times" />
            </button>
        </div>
        {{#if this.showCreateOption}}
            <div class="select-create-container">
                <div class="select-option" {{on "click" this.onCreate}}>
                    <FaIcon @icon="plus" />
                    <span>Create "<span class="is-bold">{{this.searchText}}</span>"</span>
                </div>
            </div>
        {{/if}}
        {{#if this.showNoSearchResultsMessage}}
            <div class="select-empty-container">
                <span class="select-option"><FaIcon @icon="exclamation" />{{@noSearchResultsMessage}}</span>
            </div>
        {{/if}}
    {{/if}}
    {{#if this.showNoOptionsMessage}}
        <div class="select-empty-container">
            <span class="select-option"><FaIcon @icon="exclamation" />{{@noOptionsMessage}}</span>
        </div>
    {{/if}}
    {{#if (and @deselectAll (not this.searchText))}}
        <div class="select-clear-container">
            <span class="select-option" {{on "click" @deselectAll}}><FaIcon @icon="times" /><em>{{@deselectAllMessage}}</em></span>
        </div>
    {{/if}}
    {{#if this.options.length}}
        <div class="select-options-container">
            <ul class="select-options">
                {{#each this.options as |option|}}
                    <li class="select-option {{if (is-selected @isMultiselect @selected option) "selected"}} {{@optionClass}}"
                        {{on "click" (fn this.onChange option)}}
                    >
                        {{yield option}}
                    </li>
                {{/each}}
            </ul>
        </div>
    {{/if}}
</div>