<MobileMenuWrapper @preventScroll={{false}} as |mmw|>
    <mmw.MobileMenu @maxWidth="200" as |mm|>
        <Utils::NavMenu class="mobile" @subtitle={{this.navigation.subtitle}} @logout={{this.auth.logout}} />
    </mmw.MobileMenu>
    <mmw.Content>
        <div class="toolbar {{unless this.media.isDesktop "mobile"}}">
            <div class="toolbar-actions">
                <div class="toolbar-group left">
                    {{#if (or this.media.isMobile this.media.isTablet)}}
                        <div class="toolbar-item">
                            <mmw.Toggle class="button"><FaIcon @icon="bars" /></mmw.Toggle>
                        </div>
                    {{/if}}
                    <div class="toolbar-item">
                        <Select::DropdownSelect
                                @options={{this.viewModeOptions}}
                                @selected={{this.viewMode}}
                                @onSelect={{this.selectViewMode}}
                                @closeOnSelect={{true}}
                                @searchEnabled={{false}}
                                @displayProperty="name"
                                @stopPropagation={{true}}
                                @optionClass="large"
                        >
                            <FaIcon @icon={{this.viewMode.icon}} @fixedWidth={{true}} />
                        </Select::DropdownSelect>
                    </div>
                    <div class="toolbar-item">
                        <ToolbarSearch
                                @searchQuery={{this.searchQuery}}
                                @searchQueryUpdated={{this.searchQueryUpdated}}
                                @clearSearch={{this.clearSearch}}
                        />
                    </div>
                    <div class="toolbar-item">
                        {{#if this.media.isDesktop}}
                            <Select::DropdownSelect
                                    @triggerClass="{{if this.tagFilters.length "is-accented"}}"
                                    @isMultiselect={{true}}
                                    @options={{this.sortedTags}}
                                    @selected={{this.tagFilters}}
                                    @onSelect={{this.updateTagFilters}}
                                    @searchEnabled={{true}}
                                    @emptyMessage="No tags found"
                                    @searchMessage="No tags found"
                                    @displayProperty="content"
                                    @placeholder="Enter tag"
                                    @searchField="content"
                                    @stopPropagation={{true}}
                                    @showCreateOption={{true}}
                            >
                                <FaIcon @icon="filter" />
                                <span class="has-margin-left">Filter ({{this.tagFilters.length}})</span>
                            </Select::DropdownSelect>
                        {{else}}
                            <buttton type="button" class="button text {{if this.tagFilters.length "is-accented"}}" {{on "click" this.onTagSelectorOpen}}>
                                <FaIcon @icon="filter" />
                                <span class="has-margin-left">({{this.tagFilters.length}})</span>
                            </buttton>
                        {{/if}}
                    </div>
                    <div class="toolbar-item">
                        <Utils::SortSelect
                                @sortPropertyOptions={{this.sortOptions}}
                                @selectedSortProperty={{this.sortProperty}}
                                @onSelectSortProperty={{this.selectSortProperty}}
                                @onSelectSortOrder={{this.selectSortOrder}}
                                @defaultSortOrder={{this.defaultSortOrder}}
                        />
                    </div>
                </div>
                <div class="toolbar-group right">
                    <div class="toolbar-item">
                        {{#unless this.isCollection}}
                            <button class="button outline fill" {{on "click" this.onCollectionOpen}}>
                                <FaIcon @icon="folder-plus" />
                                {{#if this.media.isDesktop}}
                                    <span class="has-margin-left">New Collection</span>
                                {{/if}}
                            </button>
                        {{/unless}}
                        {{#if this.media.isDesktop}}
                            <button type="button" class="button" {{on "click" this.transitionToNewNote}}>
                                <FaIcon @icon="plus" />
                                <span class="has-margin-left">New Note</span>
                            </button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if (and this.media.isDesktop (or this.collectionTags.length this.tagFilters.length))}}
                <div class="tag-list">
                    {{#each this.collectionTags as |tag|}}
                        <Tags::Tag @tag={{tag}} @isCollectionTag={{true}} />
                    {{/each}}
                    {{#each this.tagFilters as |tag|}}
                        <Tags::Tag @tag={{tag}} @onRemove={{this.removeFilteredTag}} />
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <div class="content">
            {{#if this.firstNoteInOrder}}
                {{component
                        (concat "notes/modes/" this.viewMode.component)
                        notes=this.sortedNotes
                        tags=this.sortedTags
                        onNoteDelete=this.onDeleteOpen
                        onNoteUpdate=this.updatedNote
                        onTagCreate=this.createTagAndAddToNote
                        collection=this.model.collection
                }}
            {{else}}
                <NoResultsMessage>
                    <span>No Notes Found</span>
                </NoResultsMessage>
            {{/if}}
            {{outlet}}
        </div>

        {{#if this.isConfirmingDelete}}
            <ConfirmModal
                    @class="small"
                    @item={{this.noteForDeletion}}
                    @header="Delete Collection"
                    @buttonLabel="Delete"
                    @onClose={{fn this.onDeleteClose false}}
                    @onConfirm={{fn this.onDeleteClose true}}
            >
                Are you sure you want to delete this note?
            </ConfirmModal>
        {{/if}}

        {{#if this.isCreatingCollection}}
            <ModalDialog
                    @containerClass={{this.modal.class}}
                    @onClose={{this.onCollectionClose}}
                    @translucentOverlay={{true}}
                    @tetherTarget={{this.modal.target}}
                    @targetAttachment={{this.modal.attachment}}
                    @targetOffset={{this.modal.offset}}
                    @attachment={{this.modal.attachment}}
            >
                <div class="modal-header">
                    <h1>Create New Collection</h1>
                    <FaIcon class="close-icon" @icon="times" {{on "click" this.onCollectionClose}} />
                </div>
                <div class="modal-body">
                    <div class="form">
                        <div class="form-field full-width">
                            <label for="name">Name</label>
                            <Input name="name" type="text" aria-label="Collection Name" @value={{this.collectionName}} />
                        </div>
                    </div>
                </div>
                <div class="tag-list">
                    {{#each this.tagFilters as |tag|}}
                        <Tags::Tag @tag={{tag}} />
                    {{/each}}
                </div>
                <div class="modal-footer">
                    <div class="button-container">
                        <button type="button" class="button text" {{on "click" this.onCollectionClose}}>Cancel</button>
                        <button type="button" class="button" {{on "click" this.saveCollection}}>Create Collection</button>
                    </div>
                </div>
            </ModalDialog>
        {{/if}}

        {{#if this.isSelectingTags}}
            <FullscreenTagSelector
                @options={{this.allTags}}
                @selected={{this.tagFilters}}
                @collectionTags={{this.collectionTags}}
                @onSelect={{this.updateTagFilters}}
                @searchEnabled={{true}}
                @onClose={{this.onTagSelectorClose}}
            />
        {{/if}}

        {{#unless this.media.isDesktop}}
            <div class="fab-container">
                <button type="button" class="button fab" {{on "click" this.transitionToNewNote}}>
                    <FaIcon @icon="plus" />
                </button>
            </div>
        {{/unless}}
    </mmw.Content>
</MobileMenuWrapper>
